<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.bus.mapper.OrderdetailMapper">

    <select id="getOrderDetailsByOrderId" resultType="com.sxt.bus.domain.Orderdetail" parameterType="String">
        select * from orderdetail where orderId = #{orderid}
    </select>

    <select id="getSales" resultType="com.sxt.bus.domain.Statistics" parameterType="String">
        select teaName as name, sum(teaNumber) as num from orderdetail where orderId like #{datetime}"%" GROUP BY name ORDER BY num desc limit 0, 10
    </select>

</mapper>
